@font-face {
    font-family: HankenGrotesk;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/***** TAG SELECTOR *****/
body {
    margin: 0;
    font-family: HankenGrotesk;
}

/***** CLASS SELECTOR *****/
.main {
    width: 1905px;
    height: 944px;
    /*background-color: rgb(166, 167, 167);*/
    display: flex;
}

.card-main {
    width: 800px;
    height: 600px;
    background-color: white;
    margin: auto;
    border-radius: 20px;
    display: flex;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
}

.card-left {
    width: 400px;
    height: 600px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-left h3{
    color: hsl(241, 100%, 89%);
    letter-spacing: 0.5px;
    margin-top: 60px;
}

.card-left h4{
    margin: 10px 60px 60px 60px;
    color:hsl(241, 100%, 89%);
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(hsl(256, 72%, 46%), hsl(241, 81%, 54%));
}

.circle h1 {
    font-size: 90px;
    margin: 0;
}

.circle h5 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    color: #897DFF;
    letter-spacing: 0.5px;
}

.card-left-title h3{
    font-size: 26px;
    font-weight: 500;
    margin-top: 40px;
}

.card-left-text h1 {
    font-size: 38px;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
}

.card-left-text h4 {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}

.card-right {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-right h2 {
    margin-top: 35px;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 550;
    margin-right: 182px;
    margin-bottom: 30px;
}

.result {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.result-box {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.result-box img {
    display: inline-block;
    scale: 120%;
    margin-left: 20px;
}

.result-box h6 {
    font-size: 20px;
    margin-left: 20px;
    font-weight: 550;
}

.component {
    width: 200px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.score {
    width: 100px;
    height: 70px;
}

.score h6 {
    margin-top: 25px;
    margin-left: 10px;
}

.main-score {
    color: black;
}

.sub-score {
    color: gray;
}

.box-red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.box-yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.box-teal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%)
}

.box-cobalt {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.btn {
    border-radius: 28px;
    color: white;
    font-size: 18px;
    background: #303B59;
    padding: 17px 110px;
    text-decoration: none;
    margin-top: 40px;
    font-weight: 450;
    letter-spacing: 1px;
}
  
.btn:hover {
    background: #50748a;
    text-decoration: none;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    justify-content: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}